/*Universal Styles*/
* {
    box-sizing: border-box;
  }

html {
    font-size: 16px;
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Diplomata SC';
    color: rgb(40, 173, 180);
    font-size: 5rem;
}

h2 {
    font-family: 'Diplomata SC';
    font-size: 3rem;
    font-size: 2vw;
}


p {
    font-size: 1.4rem;
    line-height: 1.7;
}

q {
    font-style: italic;
}

.section {
    width: 100%;
    display: flex;
    height: 30rem;
    border-bottom: 1px black solid;
}


/*Nav*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: antiquewhite;
    max-height: 7rem;
}

nav ul {
    list-style: none;
    display: flex;
    min-width: 50rem;
    justify-content: space-around;
}

nav a {
    color: black;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

div.button {
    padding: 1rem;
    border: 1px solid black;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 5px 10px;
    transition: box-shadow .5s ease;
    background-color: rgb(137, 219, 210);
}

div.button:active {
    box-shadow: 0px 0px;
}


/*Header*/

header {
    background-image: url(../images/HumanChessItaly.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position-y: 50%;
    height: 50rem;
    text-align: center;
}

/*About*/

.description {
    width: 75%;
    background-color: antiquewhite;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: auto;
}

#description1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#frame1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/HumanChess.jpg);
    background-size: cover;
    width: 25%;
    background-position-x: 25%;
}

/*History*/

.container {
    float: left;
    margin-right: 1rem;
    width: 25rem;
    height: 20rem;
}

.container img {
    height: 100%;
    width: 100%;
    display: block;
}

#frame2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/RussiaHumanChess.jpg);
    background-size: cover;
    width: 25%;
    
}

/*Testimony*/
.member {
    display: flex;
    width: 50%;
}

.portrait {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

#portrait1 {
    background-image: url(../images/Ron\ Weasley.webp);
    background-size: cover;
    background-position-x: center;
}

.portrait img {
    width: 100%;
    height: auto;
    display: block;
}

#portrait2 {
    background-image: url(../images/ChessCostume.jpg);
    background-size: cover;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-position-x: center;
}

.memberbio {
    width: 60%;
    background-color: antiquewhite;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: auto;
}

/*Responsive Design*/

@media only screen and (max-width: 1024px) {
   
    #responsive {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60rem;
    }

    .member {
        width: 100%;
        height: 50%;
    }

    #bio2 {
        border-top: 1px solid black;
        display: flex;
        flex-direction: row-reverse;
    }
}